.Rproj.user/
.Rhistory
.RData


src/*.o
src/*.so
src/*.dll
src/Makevars.omp
src-i386/
src-x64/


/doc/
/Meta/
docs
packrat/lib*/


vignettes/*.html
vignettes/*_files/


tests/testthat/*.pdf

prospectr-intro\.Rmd
prospectr-intro\.bib
prospectr-intro\.html
prospectr-intro\.md


todo.md
code_ex.R
figure/
prospectr\.Rproj
prospectr/.travis.yml
prospectr/prospectr_logo.png

!logo.png

