.Rproj.user
.Rhistory
.RData
src/*.o
src/*.so
src/*.dll
.Rbuildignore
prospectr\.Rproj
todo.md
src-i386/
src-x64/
figure/
prospectr-intro\.Rmd
prospectr-intro\.bib
prospectr-intro\.html
prospectr-intro\.md
doc
Meta
vignettes/prospectr.html
