export(binning)
export(blockNorm)
export(blockScale)
export(cochranTest)
export(continuumRemoval)
export(detrend)
export(duplex)
export(gapDer)
export(honigs)
export(kenStone)
export(movav)
export(naes)
export(puchwein)
export(readASD)
export(resample)
export(resample2)
export(savitzkyGolay)
export(shenkWest)
export(spliceCorrection)
export(standardNormalVariate)
import(foreach)
import(iterators)
import(Rcpp)
import(RcppArmadillo)
useDynLib(prospectr)
